<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <%- include('partials/headers.ejs') %>
</head>
<body>
    <h1> Welcome To Day Win </h1>
    <h2> Life Gamified. </h2>
    <h3> Press <a href="/tasks">Next</a> to continue. </h3>

</body>
</html>